{
    "sourceFile": ".env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1759504618788,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1759504618788,
            "name": "Commit-0",
            "content": "# Porta do Servidor\nPORT=8080\n\n# Caminho para o arquivo de credenciais do Firebase Service Account\n# Crie uma service account no console do seu projeto Firebase e baixe a chave JSON.\nGOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json"
        }
    ]
}